/*? ======= features start =======  */

.features {
  width: 100%;
  height: auto;
  background-color: var(--color-baltic-sea);
  background-image: url(../img/gallery-footer-bg.jpeg);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;

  padding: 97px 0 38px 0;

  &::after {
    content: "";
    position: absolute;
    width: 605px;
    height: 605px;
    left: -219px;
    top: 830px;
    background: var(--color-orange-peel);
    opacity: 0.5;
    filter: blur(125px);
  }

  &__container {
    width: 1190px;
    margin: 0 auto;
    padding: 0 15px;
  }

  &__title,
  &__text {
    color: var(--color-white);
  }

  &__text {
    margin: 27px 0 78px;
  }

  &__wrapper-cards {
    width: 100%;
    height: 550px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
  }

  &__card {
    min-width: 457px;
    background: rgba(17, 16, 18, 0.3);
    backdrop-filter: blur(25px);
    border-radius: var(--radius24);
    padding: 32px 49px 32px 93px;
    color: var(--color-white);
    position: relative;
  }

  &__card--1 {
    grid-column: 3 / 7;
    grid-row: 1 / 5;
    margin-right: 40px;
    margin-bottom: 10px;
    margin-left: -15px;
  }

  &__card--2 {
    grid-column: -2 / -6;
    grid-row: -12 / -8;
    margin-left: 25px;
    margin-top: 18px;
  }

  &__card--3 {
    grid-column: 4 / 8;
    grid-row: 7 / 11;
    margin-left: 25px;
    margin-top: 5px;
  }

  &-card__namber {
    width: clamp(4rem, 2.89rem + 4.29vw, 6.75rem);
    height: clamp(4rem, 2.89rem + 4.29vw, 6.75rem);
    border-radius: 50%;
    background-color: var(--color-orange-peel);
    box-shadow: 0px 0px 21px var(--color-fuel-yellow);
    position: absolute;
    left: -54px;
    top: 31px;

    font-style: normal;
    font-weight: 800;
    font-size: clamp(2rem, 1.697rem + 1.17vw, 2.75rem);
    line-height: 59px;
    color: var(--color-nutmeg-wood-finish);

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-card__title {
    margin: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
  }

  &-card__text {
    margin: 12px 0 0 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
  }
}
/*? ======= features media start ======= */

@media screen and (max-width: 1200px) {
  .features {
    &::after {
      content: none;
    }

    &__container {
      width: 100%;
    }

    &__wrapper-cards {
      width: 70%;
      height: 550px;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
    }

    &__card {
      width: 457px;
      height: 170px;
      margin: 0;
    }

    &__card--2 {
      align-self: self-end;
    }
  }
}

@media screen and (max-width: 681px) {
  .features {
    &__wrapper-cards {
      width: 100%;
      height: 700px;
      align-items: center;
    }

    &__card {
      min-width: 374px;
      min-height: 170px;
      background: rgba(17, 16, 18, 0.3);
      backdrop-filter: blur(25px);
      border-radius: var(--radius24);
      padding: 32px 49px 32px 32px;
      color: var(--color-white);
      position: relative;
    }

    &__card--2 {
      align-self: auto;
    }

    &-card__namber {
      left: auto;
      right: 3px;
      top: -40px;
    }
  }
}

@media screen and (max-width: 471px) {
  .features {
    padding: 60px 0;
    background-image: none;

    &::after {
      background: none;
    }

    &__wrapper-cards {
      height: 650px;
    }

    &__card {
      min-width: 318px;
      min-height: 120px;
      max-width: 354px;
      max-height: 170px;
      padding: 32px;
    }
  }
}
