// ? ======= gallery-header start ======= //
.gallery-header {
  width: 100%;
  height: auto;
  background-color: var(--color-baltic-sea);
  overflow: hidden;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__left {
    padding-top: 96px;
    padding-bottom: 96px;
    margin-left: 15px;
    color: var(--color-white);
  }

  &__title {
    margin: 0;
  }

  &__subtitle {
    margin-top: 28px;
    color: var(--color-white);
  }

  &__image {
    width: 499px;
    height: 366px;
    background: url(../img/gallery-header.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    bottom: -51px;
    right: 106px;
  }
}

// ? ======= gallery-header media start ======= //

@media screen and (max-width: 1020px) {
  .gallery-header {
    &__image {
      right: 0px;
    }
  }
}

@media screen and (max-width: 933px) {
  .gallery-header {
    &__image {
      width: 350px;
      height: 250px;
    }
  }
}

@media screen and (max-width: 776px) {
  .gallery-header {
    &__container {
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }

    &__left {
      padding-top: 60px;
      padding-bottom: 0;
    }

    &__image {
      width: 499px;
      height: 366px;
    }
  }
}

@media screen and (max-width: 510px) {
  .gallery-header {
    &__image {
      width: 350px;
      height: 250px;
    }
  }
}

@media screen and (max-width: 415px) {
  .gallery-header {
    &__image {
      width: 334px;
      height: 245px;
    }
  }
}
