/* ? ======= our-work start =======  */

.out-work {
  width: 100%;
  background-color: var(--color-white);
  padding-top: 100px;
  padding-bottom: 100px;

  display: flex;
  justify-content: space-between;

  &__nav-tabs {
    width: 350px;
    height: 771px;
    background-color: var(--color-white);
    box-shadow: 20px 0px 70px rgba(0, 0, 0, 0.06);
    border-radius: 0px 12px 12px 0px;

    padding-top: 127px;
    padding-bottom: 150px;
    padding-left: 70px;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--color-black);
  }

  &__nav-tabs-title {
    margin: 0 0 98px 0;
  }

  &__nav-tabs-item {
    transition: 0.3s;
    cursor: pointer;
  }

  &__color {
    color: var(--color-orange-peel);
  }

  &__nav-tabs-item:hover {
    color: var(--color-orange-peel);
    transition: 0.3s;
  }

  &__nav-tabs-item:not(:last-child) {
    margin-bottom: 32px;
  }

  &__title {
    margin-bottom: 28px;
    margin-top: -4px;
  }

  &__subtitle {
    margin: 0 0 60px 0;
  }

  &__wrapper-content {
    width: 70%;
  }

  &__tab {
    display: none;
  }

  &__tab-active {
    display: block;
  }
}

/* ? ======= our-work swipper =======  */

.out-work {
  &__swiper {
    width: 100%;
    height: 500px;
  }

  &__slide {
    height: 465px;
    overflow: hidden;
    border-radius: var(--radius20);
  }

  &__pic {
    height: 100%;
  }
  .swiper-horizontal > &__scrollbar {
    width: 80%;
    height: 2px;
  }
}

.swiper-scrollbar-drag {
  width: 10%;
  height: 400% !important;
  top: 50% !important;
  border-radius: 25px;
  transform: translateY(-50%) !important;
  background-color: var(--color-orange-peel);
  box-shadow: 0px 0px 21px rgba(238, 159, 56, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;

  span {
    height: 2px;
    width: 50%;
    background-color: var(--color-white);
    opacity: 0.3;
  }
}

/*? ======= our-work media start =======  */
