// ? ======= gallery-footer start ======= //

.gallery-footer {
    width: 100%;
    height: auto;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(3%, rgba(0, 0, 0, 0.69)), color-stop(95.5%, rgba(0, 0, 0, 0))), -webkit-gradient(linear, left bottom, left top, from(rgba(238, 159, 56, 0.1)), to(rgba(238, 159, 56, 0.1))), url(../../img/gallery-footer-bg.jpeg);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.69) 3%, rgba(0, 0, 0, 0) 95.5%), -o-linear-gradient(bottom, rgba(238, 159, 56, 0.1), rgba(238, 159, 56, 0.1)), url(../../img/gallery-footer-bg.jpeg);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.69) 3%, rgba(0, 0, 0, 0) 95.5%), linear-gradient(0deg, rgba(238, 159, 56, 0.1), rgba(238, 159, 56, 0.1)), url(../../img/gallery-footer-bg.jpeg);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
}

.gallery-footer__container {
    padding-top: 99px;
    padding-bottom: 100px;
    padding-left: 29px;
}

.gallery-footer__title {
    margin: 0;
    color: var(--color-white);
    max-width: 80%;
}

.gallery-footer__subtitle {
    color: var(--color-white);
    max-width: 40%;
    margin-top: 28px;
    margin-bottom: 89px;
}

.gallery-footer__list {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, 344px);
    -ms-grid-rows: 218px;
    grid-template-rows: 218px;
    grid-auto-rows: 218px;
    gap: 64px;
}

.gallery-footer__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding-top: 35px;
    padding-left: 35px;
    background: rgba(252, 153, 0, 0.1);
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
    border-radius: var(--radius24);
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    color: var(--color-white);
}

.gallery-footer__icon {
    color: var(--color-orange-peel);
    font-size: 37px;
    text-shadow: 0px 0px 9.2px var(--color-orange-peel);
    margin-bottom: 36px;
}

@media screen and (max-width: 1205px) {
    .gallery-footer__list {
        gap: 20px;
    }
}

@media screen and (max-width: 1116px) {
    .gallery-footer__container {
        width: 740px;
        padding-left: 15px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 740px) {
    .gallery-footer__container {
        width: 500px;
        padding-left: 15px;
        padding-right: 15px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    .gallery-footer__list {
        -ms-grid-row-align: center;
        align-self: center;
        -ms-grid-columns: 374px;
        grid-template-columns: 374px;
    }

    .gallery-footer__title {
        max-width: 100%;
    }

    .gallery-footer__subtitle {
        max-width: 100%;
    }
}

@media screen and (max-width: 501px) {
    .gallery-footer__container {
        width: 100%;
    }
}