<!-- ? ======= application start ======= -->

<div class="application">
  <div class="application-container container">
    <div class="application-wrapper">
      <div class="application-border">

        <div class="application__top">
          <div class="application__top-title">
            Оставить заявку прямо сейчас
          </div>
          <span class="application__top-text">
            И мы свяжемся с вами в течение <br class="application__br">10 минут
          </span>
        </div>

        <form class="application__form" action="">
          <label class="application__label" for="">
            <input class="application__input input-reset" type="text" placeholder="Ваше имя">
          </label>

          <label class="application__label" for="">
            <input class="application__input input-reset" type="tel" placeholder="Ваш телефон">
          </label>

          <label class="application__label application__label--button" for="">
            <input class="application__input application__input--button input-reset" type="submit" placeholder="Отправить">
          </label>
        </form>

        <div class="application__footer">
          <span class="application__footer-text">
            Нажимая кнопку ‘Отправить’ вы соглашаетесь с <br>политикой конфиденциальности
          </span>
        </div>
      </div>
    </div>

    <picture class="application__image">
      <!-- <source srcset="img/gallery1.avif" type="image/avif"> -->
      <source srcset="img/hero-baner.webp" type="image/webp">
      <img class="application__pic" loading="lazy" src="img/hero-baner.png" alt="Спальни">
    </picture>
  </div>
</div>
