<!-- ? ======= competitors start ======= -->
<section class="competitors">
  <div class="competitors-container">

    <h2 class="competitors__title title">С&nbsp;чем вы&nbsp;
      <span class="competitors__title competitors__title--red">можете столкнуться</span> <br>при заказе у&nbsp;других компаний?</h2>

    <p class="competitors__text subtitle">К&nbsp;сожалению, иногда могут возникать <br>следующие ситуации в&nbsp;работе:</p>

    <div class="competitors__wrapper-card">

      <div class="competitors__card">
        <div class="competitors__close">
          <i class="competitors__icn-fi-x icn-fi-x"></i>
        </div>
        <picture class="competitors__image">
          <source srcset="img/features1.webp" type="image/webp">
          <img class="competitors__pic" loading="lazy" src="img/features1.jpeg" alt="Калькулятор">
        </picture>

        <p class="competitors__title-card">Необоснованна<br> завышенная смета</p>
        <p class="competitors__text-card">Включают в&nbsp;себестоимость материалов дополнительную маржинальность из-за
          чего итоговая цена может вырасти дополнительно до&nbsp;30% сверху</p>
      </div>

      <div class="competitors__card">
        <div class="competitors__close">
          <i class="competitors__icn-fi-x icn-fi-x"></i>
        </div>
        <picture class="competitors__image">
          <source srcset="img/features2.webp" type="image/webp">
          <img class="competitors__pic" loading="lazy" src="img/features2.jpeg" alt="Крепление">
        </picture>

        <p class="competitors__title-card">Несоответствие фурнитуры заявленному качеству</p>
        <p class="competitors__text-card">В&nbsp;смете может быть прописана премиальная фурнитура, а&nbsp;по&nbsp;факту
          будут частично установлены более дешевые аналоги</p>
      </div>

      <div class="competitors__card">
        <div class="competitors__close">
          <i class="competitors__icn-fi-x icn-fi-x"></i>
        </div>
        <picture class="competitors__image">
          <source srcset="img/features3.webp" type="image/webp">
          <img class="competitors__pic" loading="lazy" src="img/features3.jpeg" alt="Выдвижной ящик">
        </picture>

        <p class="competitors__title-card">Дополнительные услуги не&nbsp;включены договор</p>
        <p class="competitors__text-card">В&nbsp;результате этого вы&nbsp;будете вынуждены дополнительно платить
          за&nbsp;сборку, монтаж и&nbsp;доставку и&nbsp;т.д.</p>
      </div>
    </div>
  </div>
</section>
