<!-- ? ======= features start ======= -->

<section class="features">
  <div class="features__container">
    <h2 class="features__title title">
      Вкладываем душу в&nbsp;<span class="accent-color">каждый заказ</span>,<br>потому что делаем мебель с&nbsp;любовью
    </h2>
    <p class="features__text subtitle">
      Мебель производится непосредтвенно в&nbsp;<br>Липецке из&nbsp;премиальных материалов
    </p>
  </div>

  <div class="features__wrapper-cards">
    <section class="features__card features__card--1">
      <div class="features-card__namber">01</div>
      <div class="features-card__title">
        Каждый заказ <br>выполняем вручную
      </div>
      <p class="features-card__text">
        поэтому количество производственного брака сводится к&nbsp;минимуму
      </p>
    </section>

    <section class="features__card features__card--2">
      <div class="features-card__namber">02</div>
      <div class="features-card__title">
        Весь проект контролирует один человек
      </div>
      <p class="features-card__text">
        за&nbsp;счет чего соблюдаются все детали, предусмотренные на&nbsp;каждом этапе
      </p>
    </section>

    <section class="features__card features__card--3">
      <div class="features-card__namber">03</div>
      <div class="features-card__title">
        Используем только качественные материлы
      </div>
      <p class="features-card__text">
        что позволяет нам давать расширенную гарантию&nbsp;&mdash; 5&nbsp;лет эксплуатации
      </p>
    </section>
  </div>
</section>

<!-- ? ======= features media start ======= -->
