<!-- ? ======= gallery-footer start ======= -->
<section class="gallery-footer">
  <div class="container gallery-footer__container">
    <h2 class="gallery-footer__title title">
      Почему <span class="accent-color">более&nbsp;90%</span> обратившихся клиентов выбирают <span
        class="accent-color">именно нас?</span>
    </h2>
    <div class="gallery-footer__subtitle subtitle">
      Именно эти факторы позволяют нам занимать лидирующие позиции на&nbsp;рынке Липецка:
    </div>
    <ul class="gallery-footer__list list-reset">
      <li class="gallery-footer__item">
        <i class="gallery-footer__icon icn-hero-file"></i>
        <span class="span-wrapper">Гарантия <span class="accent-color">самой низкой цены <br>в Липецке</span> по нашей
          смете
        </span>
      </li>
      <li class="gallery-footer__item">
        <i class="gallery-footer__icon icn-shield-eyllow"></i>
        <span class="span-wrapper"><span class="accent-color">Гарантия качества</span> и <br>обслуживание вашей
          кухни<br> в течение <span class="accent-color">5 лет</span>
        </span>
      </li>
      <li class="gallery-footer__item">
        <i class="gallery-footer__icon icn-stack-eyllow"></i>
        <span class="span-wrapper"><span class="accent-color">100% соответствие</span> дизайн-<br>проекта и готового<br>
          исполнения кухни
        </span>
      </li>
    </ul>
  </div>
</section>
