<!-- ? ======= gallery-body start ======= -->

<section class="gallery-body">
  <h2 class="visually-hidden">Продукция</h2>
  <figure class="gallery-body__card gallery-body__card--1">
    <picture class="gallery-body__image">
      <!-- <source srcset="img/gallery1.avif" type="image/avif"> -->
      <source srcset="img/gallery1.webp" type="image/webp">
      <img class="gallery-body__pic" loading="lazy" src="img/gallery1.jpeg" alt="Кухни">
    </picture>
    <figcaption class="gallery-body__text">Кухни</figcaption>
  </figure>
  <figure class="gallery-body__card gallery-body__card--2">
    <picture class="gallery-body__image">
      <!-- <source srcset="img/gallery1.avif" type="image/avif"> -->
      <source srcset="img/gallery2.webp" type="image/webp">
      <img class="gallery-body__pic" loading="lazy" src="img/gallery2.jpeg" alt="Шкафы">
    </picture>
    <figcaption class="gallery-body__text">Шкафы</figcaption>
  </figure>
  <figure class="gallery-body__card gallery-body__card--3">
    <picture class="gallery-body__image">
      <!-- <source srcset="img/gallery1.avif" type="image/avif"> -->
      <source srcset="img/gallery3.webp" type="image/webp">
      <img class="gallery-body__pic" loading="lazy" src="img/gallery3.jpeg" alt="Шкафы-купе">
    </picture>
    <figcaption class="gallery-body__text">Шкафы-купе</figcaption>
  </figure>
  <figure class="gallery-body__card gallery-body__card--4">
    <picture class="gallery-body__image">
      <!-- <source srcset="img/gallery1.avif" type="image/avif"> -->
      <source srcset="img/gallery4.webp" type="image/webp">
      <img class="gallery-body__pic" loading="lazy" src="img/gallery4.jpeg" alt="Подростковые детские">
    </picture>
    <figcaption class="gallery-body__text">Подростковые детские</figcaption>
  </figure>
  <figure class="gallery-body__card gallery-body__card--5">
    <picture class="gallery-body__image">
      <!-- <source srcset="img/gallery1.avif" type="image/avif"> -->
      <source srcset="img/gallery5.webp" type="image/webp">
      <img class="gallery-body__pic" loading="lazy" src="img/gallery5.jpeg" alt="Спальни">
    </picture>
    <figcaption class="gallery-body__text">Спальни</figcaption>
  </figure>
  <figure class="gallery-body__card gallery-body__card--6">
    <picture class="gallery-body__image">
      <!-- <source srcset="img/gallery1.avif" type="image/avif"> -->
      <source srcset="img/gallery6.webp" type="image/webp">
      <img class="gallery-body__pic" loading="lazy" src="img/gallery6.jpeg" alt="Гардеробные">
    </picture>
    <figcaption class="gallery-body__text">Гардеробные</figcaption>
  </figure>
  <figure class="gallery-body__card gallery-body__card--7">
    <picture class="gallery-body__image">
      <!-- <source srcset="img/gallery1.avif" type="image/avif"> -->
      <source srcset="img/gallery7.webp" type="image/webp">
      <img class="gallery-body__pic" loading="lazy" src="img/gallery7.jpeg" alt="Прихожие">
    </picture>
    <figcaption class="gallery-body__text">Прихожие</figcaption>
  </figure>
  <figure class="gallery-body__card gallery-body__card--8">
    <picture class="gallery-body__image">
      <!-- <source srcset="img/gallery1.avif" type="image/avif"> -->
      <source srcset="img/gallery8.webp" type="image/webp">
      <img class="gallery-body__pic" loading="lazy" src="img/gallery8.jpeg" alt="Мебель в стиле “Loft”">
    </picture>
    <figcaption class="gallery-body__text">Мебель в&nbsp;стиле &laquo;Loft&raquo;</figcaption>
  </figure>
</section>
