<!-- ? ======= gallery-header start ======= -->

<section class="gallery-header">
  <h2 class="visually-hidden">Выгода</h2>
  <div class="gallery-header__container container">
    <section class="gallery-header__left">
      <h2 class="gallery-header__title title">
        <span class="accent-color">Экономьте до&nbsp;25%</span><br> своих денег
      </h2>
      <div class="gallery-header__subtitle subtitle">Заказывая
        <span class="accent-color">всю</span>
        мебель в&nbsp;одном месте
      </div>
    </section>
    <div class="gallery-header__image">
    </div>
  </div>
</section>
