<!-- ? ======= hero start ======= -->
<section class="hero">
  <h1 class="visually-hidden">Эксклюзивные кухни и мебель в Липецке</h1>
  <div class="container hero__container">
    <section class="hero__content">
      <h2 class="hero__title title">
        <span class="accent-color">Эксклюзивные кухни и<br class="hero__br2">мебель</span> в&nbsp;Липецке на <br class="hero__br1">заказ
        от&nbsp;производителя
      </h2>
      <p class="hero__text subtitle">
        Гарантируем <span class="accent-color">самую низкую цену</span> на&nbsp;кухни и<br>мебель по&nbsp;составленной
        нами смете
      </p>
      <div class="hero__baner hero__baner845">
        <ul class="hero__list list-reset">
          <li class="hero__item">
            <span class="hero__marker">01</span>
            <span class="span-wrapper"><span class="accent-color">Бесплатный подбор материалов</span><br>из -700
              вариантов
              под ваш бюджет</span>
          </li>
          <li class="hero__item">
            <span class="hero__marker">02</span>
            <span class="span-wrapper"><span class="accent-color">Подробная смета без наценок</span><br>более чем по 20
              пунктам</span>
          </li>
          <li class="hero__item">
            <span class="hero__marker">03</span>
            <span class="span-wrapper">
              <span class="accent-color fff">Гарантия качества - 5 лет</span><br>включая мелкое обслуживание
              мебели</span>
          </li>
        </ul>
        <div class="hero__pic">
          <img class="hero__img" src="img/hero-baner.png" alt="Свежая стружка">
        </div>
      </div>
      <button class="hero__btn btn">
        Заказать расчет стоимости
        <i class="hero__icon icn-hero-file"></i>
      </button>
      <p class="hero__text hero__text--footer">
        и&nbsp;получите <span class="accent-color">пример дизайн-проекта <br>и&nbsp;сметы</span> от&nbsp;нашей компании
      </p>
    </section>
    <div class="hero__baner hero__baner846">
      <ul class="hero__list list-reset">
        <li class="hero__item">
          <span class="hero__marker">01</span>
          <span class="span-wrapper"><span class="accent-color">Бесплатный подбор материалов</span><br>из -700 вариантов
            под ваш бюджет</span>
        </li>
        <li class="hero__item">
          <span class="hero__marker">02</span>
          <span class="span-wrapper"><span class="accent-color">Подробная смета без наценок</span><br>более чем по 20
            пунктам</span>
        </li>
        <li class="hero__item">
          <span class="hero__marker">03</span>
          <span class="span-wrapper">
            <span class="accent-color fff">Гарантия качества - 5 лет</span><br>включая мелкое обслуживание мебели</span>
        </li>
      </ul>
      <div class="hero__pic">
        <img class="hero__img" src="img/hero-baner.png" alt="Свежая стружка">
      </div>
    </div>
  </div>
</section>
