<!-- ? ======= individually start ======= -->
<section class="individually">
  <section class="individually__container">
    <h2 class="individually__title title">
      Сделаем мебель<br>
      <span class="accent-color">индивидуально<br> для Вас</span>
    </h2>

    <div class="individually__baner">
      <ul class="individually__list list-reset">
        <li class="individually__item">
          <span class="individually__marker">01</span>
          <span class="span-wrapper"><span class="accent-color">Бесплатный подбор материалов</span><br>из -700
            вариантов
            под ваш бюджет</span>
        </li>

        <li class="individually__item">
          <span class="individually__marker">02</span>
          <span class="span-wrapper"><span class="accent-color">Подробная смета без наценок</span><br>более чем по 20
            пунктам</span>
        </li>

        <li class="individually__item">
          <span class="individually__marker">03</span>
          <span class="span-wrapper">
            <span class="accent-color fff">Гарантия качества - 5 лет</span><br>включая мелкое обслуживание
            мебели</span>
        </li>

        <li class="individually__item">
          <span class="individually__marker">04</span>
          <span class="span-wrapper">
            <span class="accent-color fff">100% соответствие</span><br>дизайн-проекта и исполнение</span>
        </li>
      </ul>
      <div class="individually__pic">
        <img class="individually__img" src="img/hero-baner.png" alt="Свежая стружка">
      </div>
    </div>
  </section>

  <button class="individually__btn btn">
    Оставить заявку
    <i class="individually__icon icn-hero-file"></i>
  </button>
</section>
