<!-- ? ======= officee start ======= -->
<section class="office">
  <h2 class="visually-hidden">мебельхаб, липецк, желябова 2</h2>
  <section class="office__content">

    <h2 class="office__title title">
      Заходите в&nbsp;<span class="accent-color"><br>наш офис</span>
    </h2>

    <div class="office__text subtitle">
      Чтобы выпить чашечку кофе и&nbsp;лично<br>
      убедиться в&nbsp;качестве продукции
    </div>

    <div class="office__wrapper">
      <div class="office__border">
        <div class="office__title-form">Оставьте заявку на&nbsp;бесплатную консультацию</div>

        <form class="office-form" action="#">

          <label class="office-form__label">
            <input class="office-form__input input-reset" type="text" placeholder="Имя">
          </label>

          <label class="office-form__label">
            <input class="office-form__input input-reset" type="tel" placeholder="Телефон">
          </label>

          <label class="office-form__label office-form__label--button">
            <input class="office-form__input office-form__input--button input-reset" type="submit" value="Отправить">
          </label>
        </form>

        <span class="office-form__text-footer">
          Нажимая кнопку &lsquo;Отправить&rsquo; вы&nbsp;соглашаетесь с&nbsp;политикой конфиденциальности
        </span>
      </div>
    </div>
  </section>

    <div class="office__map" style="position:relative;overflow:hidden;">
      <a href="https://yandex.ru/maps/9/lipetsk/?utm_medium=mapframe&utm_source=maps"
        style="color:#eee;font-size:12px;position:absolute;top:0px;">Липецк</a>
      <a href="https://yandex.ru/maps/9/lipetsk/house/ulitsa_zhelyabova_2/Z0AYcAdkTEwFQFtofXpwc3hqYQ==/?ll=39.604805%2C52.612326&utm_medium=mapframe&utm_source=maps&z=19.37"
        style="color:#eee;font-size:12px;position:absolute;top:14px;">Улица Желябова, 2 — Яндекс Карты</a>
      <iframe class="office__map-iframe"
        src="https://yandex.ru/map-widget/v1/?ll=39.604805%2C52.612326&mode=search&ol=geo&ouri=ymapsbm1%3A%2F%2Fgeo%3Fdata%3DCgg1NjUwMjY0NRI60KDQvtGB0YHQuNGPLCDQm9C40L%2FQtdGG0LosINGD0LvQuNGG0LAg0JbQtdC70Y%2FQsdC%2B0LLQsCwgMiIKDRprHkIVMnNSQg%3D%3D&z=19.37"
        allowfullscreen="true" style="position:relative;">
      </iframe>
    </div>

</section>
