<!-- ? ======= our-work start ======= -->

<section class="out-work">

  <div class="out-work__nav-tabs">

    <p class="out-work__nav-tabs-title">
      Каталог
    </p>

    <ul class="out-work__nav-tabs-list list-reset">
      <li class="out-work__nav-tabs-item out-work__color" data-tabwork="tab-1">кухни</li>
      <li class="out-work__nav-tabs-item" data-tabwork="tab-2">шкафы</li>
      <li class="out-work__nav-tabs-item" data-tabwork="tab-3">шкафы-купе</li>
      <li class="out-work__nav-tabs-item" data-tabwork="tab-4">подростковые детские</li>
      <li class="out-work__nav-tabs-item" data-tabwork="tab-5">спальни</li>
      <li class="out-work__nav-tabs-item" data-tabwork="tab-6">гардеробные</li>
      <li class="out-work__nav-tabs-item" data-tabwork="tab-7">прихожие</li>
      <li class="out-work__nav-tabs-item" data-tabwork="tab-8">мебель в стиле "loft"</li>
    </ul>
  </div>

  <div class="out-work__wrapper-content">

    <h2 class="out-work__title title">Наши работы&nbsp;&mdash;
      <span class="accent-color">наша гордость</span>
    </h2>

    <p class="out-work__subtitle subtitle">
      Каждый заказ создается индивидуально <br>по&nbsp;созданному дизайн-макету
    </p>

    <div class="out-work__tabs">
      <div class="out-work__tab out-work__tab-active tab-1">

        <div class="swiper out-work__swiper">
          <!-- ?Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- ?Slides -->
            <div class="swiper-slide">
              <div class="out-work__slide">
                <picture class="out-work__image">
                  <source srcset="img/kitchens5-1.webp" type="image/webp">
                  <img class="out-work__pic" loading="lazy" src="img/kitchens5-1.jpeg" alt="Лухня">
                </picture>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="out-work__slide">
                <picture class="out-work__image">
                  <source srcset="img/kitchens5-2.webp" type="image/webp">
                  <img class="out-work__pic" loading="lazy" src="img/kitchens5-2.jpeg" alt="Лухня">
                </picture>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="out-work__slide">
                <picture class="out-work__image">
                  <source srcset="img/kitchens5-3.webp" type="image/webp">
                  <img class="out-work__pic" loading="lazy" src="img/kitchens5-3.jpeg" alt="Лухня">
                </picture>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="out-work__slide">
                <picture class="out-work__image">
                  <source srcset="img/kitchens5-4.webp" type="image/webp">
                  <img class="out-work__pic" loading="lazy" src="img/kitchens5-4.jpeg" alt="Лухня">
                </picture>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="out-work__slide">
                <picture class="out-work__image">
                  <source srcset="img/kitchens5-5.webp" type="image/webp">
                  <img class="out-work__pic" loading="lazy" src="img/kitchens5-5.jpeg" alt="Лухня">
                </picture>
              </div>
            </div>
          </div>

          <!-- ?If we need scrollbar -->

          <div class="swiper-scrollbar out-work__scrollbar">
            <div class="swiper-scrollbar-drag">
              <span></span>
            </div>
          </div>
        </div>
      </div>

      <div class="out-work__tab tab-2">2</div>
      <div class="out-work__tab tab-3">3</div>
      <div class="out-work__tab tab-4">4</div>
      <div class="out-work__tab tab-5">5</div>
      <div class="out-work__tab tab-6">6</div>
      <div class="out-work__tab tab-7">7</div>
      <div class="out-work__tab tab-8">8</div>
    </div>
  </div>
</section>
