<!-- ? ======= recommendations start ======= -->
<section class="recommendations">
  <h1 class="recommendations__title title">Рекомендации</h1>
  <p class="recommendations__subtitle subtitle">наших клиентов</p>

  <!--? Slider main container -->
  <div class="recommendations__swiper swiper">

    <!--? Additional required wrapper -->
    <div class="recommendations__swiper-wrapper swiper-wrapper">

      <!--? Slides -->
      <div class="swiper-slide">
        <div class="recommendations__slide">
          <div class="recommendations__slide-wrapper">

            <div class="recommendations__slide-left">
              <p class="recommendations__slide-title">Андрей, г. Москва</p>
              <p class="recommendations__slide-text">Я&nbsp;делал кухню в&nbsp;этой компании. Очень хотел светлые
                оттенки, тут нашлись нужные материалы. Предоставили довольно большой выбор вариантов для отделки
                фасадов, сразу посоветовали хорошую фурнитуру, которая не&nbsp;разболтается через год! Помогли
                спланировать получше шкафчики, чтобы эффективно использовать пространство.</p>
            </div>

            <div class="recommendations__slide-right">
              <picture class="recommendations__image">
                <source srcset="img/recommendations1.webp" type="image/webp">
                <img class="recommendations__pic" loading="lazy" src="img/recommendations1.jpeg" alt="Шкафы">
              </picture>
            </div>
          </div>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="recommendations__slide">
          <div class="recommendations__slide-wrapper">

            <div class="recommendations__slide-left">
              <p class="recommendations__slide-title">Николай, г. Липецк</p>
              <p class="recommendations__slide-text">Полностью обновлял мебельный ряд в&nbsp;нашем загородном доме.
                Заказывал здесь шкафы, также кровати, много чего. Все по&nbsp;хорошим ценам и&nbsp;очень качественно!
                Всем рекомендую)</p>
            </div>

            <div class="recommendations__slide-right">
              <picture class="recommendations__image">
                <source srcset="img/recommendations2.webp" type="image/webp">
                <img class="recommendations__pic" loading="lazy" src="img/recommendations2.jpeg" alt="Шкафы">
              </picture>
            </div>
          </div>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="recommendations__slide">
          <div class="recommendations__slide-wrapper">

            <div class="recommendations__slide-left">
              <p class="recommendations__slide-title">Анастасия, г. Липецк</p>
              <p class="recommendations__slide-text">Заказывала шкаф в&nbsp;прихожую, ребята с&nbsp;душой подошли
                к&nbsp;выполнению заказа, выполнили всё в&nbsp;срок, учли все пожелания. Спасибо Вам за&nbsp;Вашу
                работу, удачи и&nbsp;процветания!</p>
            </div>

            <div class="recommendations__slide-right">
              <picture class="recommendations__image">
                <source srcset="img/recommendations1.webp" type="image/webp">
                <img class="recommendations__pic" loading="lazy" src="img/recommendations1.jpeg" alt="Шкафы">
              </picture>
            </div>
          </div>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="recommendations__slide">
          <div class="recommendations__slide-wrapper">

            <div class="recommendations__slide-left">
              <p class="recommendations__slide-title">Ксения, г. Липецк</p>
              <p class="recommendations__slide-text">Хотела купить гарнитур для кухни, попала на эту компанию и очень
                этому рада)) Сделали быстро и качественно, по цене тоже нет никаких минусов, за столешницу ребятам
                отдельный лайк))</p>
            </div>

            <div class="recommendations__slide-right">
              <picture class="recommendations__image">
                <source srcset="img/recommendations4.webp" type="image/webp">
                <img class="recommendations__pic" loading="lazy" src="img/recommendations4.jpeg" alt="Шкафы">
              </picture>
            </div>
          </div>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="recommendations__slide">
          <div class="recommendations__slide-wrapper">

            <div class="recommendations__slide-left">
              <p class="recommendations__slide-title">Артемий, г. Липецк</p>
              <p class="recommendations__slide-text">Друзья подсказали, что в&nbsp;&laquo;mebelHUB&raquo; можно заказать
                отличную по&nbsp;качеству мебель. Мы&nbsp;делали ремонт и&nbsp;как раз не&nbsp;могли определится
                с&nbsp;местом, где&nbsp;бы можно было без рисков заказать себе гарнитур. Заказали, не&nbsp;прогадали,
                ребята сделали все согласно срокам договора.</p>
            </div>

            <div class="recommendations__slide-right">
              <picture class="recommendations__image">
                <source srcset="img/recommendations5.webp" type="image/webp">
                <img class="recommendations__pic" loading="lazy" src="img/recommendations5.jpeg" alt="Шкафы">
              </picture>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--? If we need navigation buttons -->
    <div class="recommendations__wrapper-nav">
      <div class="recommendations__button-prev swiper-button-prev"></div>
      <div class="recommendations__button-next swiper-button-next"></div>
    </div>
  </div>
</section>
