<!-- ? ======= services start ======= -->
<section class="services">
  <h2 class="visually-hidden">сервисы мебель хаб</h2>

  <!-- Slider main container -->
  <div class="services__swiper swiper">
    <!-- Additional required wrapper -->
    <div class="services__swiper-wrapper swiper-wrapper">

      <!-- Slides -->
      <div class="swiper-slide">

        <div class="services__swiper-slide">

          <section class="services__slide-content">
            <p class="services__slogan accent-color">Как создается <span
                class="services__slogan services__slogan--white">уникальная мебель для вашего дома</span></p>
            <h2 class="services__title title"><span class="accent-color">Дизайн проек</span> и&nbsp;просчет</h2>
            <p class="services__text">Прорисовываем вашу будущую мебель и<br>детально&nbsp; просчитываем размеры и<br>
              стоимость в нашем офисе</p>
          </section>

          <button class="services__btn btn">
            Заказать расчет стоимости
            <i class="services__icon icn-hero-file"></i>
          </button>

          <picture class="services__image">
            <source srcset="img/services1.webp" type="image/webp">
            <img class="services__pic" loading="lazy" src="img/services1.jpeg" alt="Шкафы">
          </picture>
        </div>
      </div>

      <div class="swiper-slide">

        <div class="services__swiper-slide">

          <section class="services__slide-content">
            <p class="services__slogan accent-color">Как создается <span
                class="services__slogan services__slogan--white">уникальная мебель для вашего дома</span></p>
            <h2 class="services__title title"><span class="accent-color">Договор</span> и&nbsp;предоплата</h2>
            <p class="services__text">Заключаем договор на&nbsp;изготовление мебели, и&nbsp;вы&nbsp;вносите предоплату
            </p>
          </section>

          <button class="services__btn btn">
            Заказать расчет стоимости
            <i class="services__icon icn-hero-file"></i>
          </button>

          <picture class="services__image">
            <source srcset="img/services4.webp" type="image/webp">
            <img class="services__pic" loading="lazy" src="img/services4.jpeg" alt="Шкафы">
          </picture>
        </div>
      </div>

      <div class="swiper-slide">

        <div class="services__swiper-slide">

          <section class="services__slide-content">
            <p class="services__slogan accent-color">Как создается <span
                class="services__slogan services__slogan--white">уникальная мебель для вашего дома</span></p>
            <h2 class="services__title title">Изготовление</h2>
            <p class="services__text">Заказываем материал для вашей мебели. После поступления материала приступаем
              к&nbsp;распилу, кромлению и&nbsp;сборке мебели</p>
          </section>

          <button class="services__btn btn">
            Заказать расчет стоимости
            <i class="services__icon icn-hero-file"></i>
          </button>

          <picture class="services__image">
            <source srcset="img/services3.webp" type="image/webp">
            <img class="services__pic" loading="lazy" src="img/services3.jpeg" alt="Шкафы">
          </picture>
        </div>
      </div>

      <div class="swiper-slide">

        <div class="services__swiper-slide">

          <section class="services__slide-content">
            <p class="services__slogan accent-color">Как создается <span
                class="services__slogan services__slogan--white">уникальная мебель для вашего дома</span></p>
            <h2 class="services__title title">Доставка и<br><span class="accent-color"> монтаж</span></h2>
            <p class="services__text">Изготовленную мебель доставляем к&nbsp;вам домой и&nbsp;монтируем&nbsp;ее</p>
          </section>

          <button class="services__btn btn">
            Заказать расчет стоимости
            <i class="services__icon icn-hero-file"></i>
          </button>

          <picture class="services__image">
            <source srcset="img/services4.webp" type="image/webp">
            <img class="services__pic" loading="lazy" src="img/services4.jpeg" alt="Шкафы">
          </picture>
        </div>
      </div>

      <div class="swiper-slide">

        <div class="services__swiper-slide">

          <section class="services__slide-content">
            <p class="services__slogan accent-color">Как создается <span
                class="services__slogan services__slogan--white">уникальная мебель для вашего дома</span></p>
            <h2 class="services__title title">Уборка и<span class="accent-color"> взаиморасчет</span></h2>
            <p class="services__text">Наводим чистоту, протираем полиролью мебель, убираем мусор,
              и&nbsp;вы&nbsp;принимаете мебель, после чего окончательно рассчитываемся</p>
          </section>

          <button class="services__btn btn">
            Заказать расчет стоимости
            <i class="services__icon icn-hero-file"></i>
          </button>

          <picture class="services__image">
            <source srcset="img/services1.webp" type="image/webp">
            <img class="services__pic" loading="lazy" src="img/services1.jpeg" alt="Шкафы">
          </picture>
        </div>
      </div>
    </div>
    <!-- If we need pagination -->
    <div class="services__pagination swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="services__wrapper-nav">
      <div class="services__button-prev swiper-button-prev"></div>
      <div class="services__pagination services__pagination--650 swiper-pagination"></div>
      <div class="services__button-next swiper-button-next"></div>
    </div>
  </div>
</section>
