<!-- ? ======= technologies start ======= -->

<section class="technologies">
  <div class="technologies__container">
    <h2 class="technologies__title title">
      <span class="accent-color">Практичные</span><br>технологии
    </h2>
    <div class="technologies__subtitle subtitle">В неповторимом дизайне</div>
    <div class="technologies__products-wrapper">
      <div class="technologies__products">
        <!-- ? ======= Slider main container  start ======= -->
        <div class="technologies__swiper swiper">
          <!-- ? ======= Additional required wrapper start ======= -->
          <div class="swiper-wrapper">
            <!-- ? ======= swiper-slide start ======= -->
            <div class="swiper-slide">
              <div class="technologies__slide">
                <div class="technologies__slide-pic">
                  <img src="img/technologi-small1.jpeg" alt="Столешница">
                </div>
                <h5 class="technologies__title-slide">Столешница</h5>
                <p class="technologies__text">Подбираем столешницы под ваш бюджет (натуральный камень, искусственный
                  камень, ДСП под пластиком)</p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="technologies__slide">
                <div class="technologies__slide-pic"><img src="img/technologi-small2.jpeg" alt="Подсветка"></div>
                <h5 class="technologies__title-slide">Подсветка</h5>
                <p class="technologies__text">Для максимального удобства и&nbsp;красоты устанавливаем подсветку рабочей
                  зоны, что помогает комфортно готовить</p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="technologies__slide">
                <div class="technologies__slide-pic"><img src="img/technologi-small3.jpeg" alt="Фартук"></div>
                <h5 class="technologies__title-slide">Фартук</h5>
                <p class="technologies__text">На&nbsp;фартук можно использовать TSS, скинали, плитку,
                  и&nbsp;мы&nbsp;подберем вам вариант который вам подойдет по&nbsp;дизайну кухни</p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="technologies__slide">
                <div class="technologies__slide-pic"><img src="img/technologi-small4.jpeg" alt="Фурнитура"></div>
                <h5 class="technologies__title-slide">Фурнитура</h5>
                <p class="technologies__text">Устанавливаем качественную фурнитуру с&nbsp;доводчиками и&nbsp;различными
                  типами открытия мирового бренда MakMart</p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="technologies__slide">
                <div class="technologies__slide-pic"><img src="img/technologi-small5.jpeg" alt="Фасады"></div>
                <h5 class="technologies__title-slide">Фасады</h5>
                <p class="technologies__text">Изготовим фасады из&nbsp;TSS плит Saviola, Astra, ЛДСП, МДФ, акрил,
                  пленочные.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="technologies__products-image">
      <img src="/img/technologi-big.png" alt="Встроенная кухня">
    </div>
  </div>
</section>
